---
import BaseLayout from "src/layouts/BaseLayout.astro";
import TagCloud from "src/components/TagCloud.astro";
import Card from "src/components/Card.astro";

import {
    fetchAndFilterPosts,
    generateTagData,
    unslugify,
} from "../../utils/helpers";

export async function getStaticPaths() {
    const posts = await fetchAndFilterPosts();

    const uniqueTags = [
        ...new Set(posts.flatMap((post) => post.data.tags)),
    ] as string[];

    const tagData: { name: string; slug: string }[] =
        generateTagData(uniqueTags);

    return tagData.map((tag) => {
        const taggedPosts = posts.filter((post) =>
            post.data.tags.includes(tag.name),
        );

        return {
            params: { tag: tag.slug },
            props: { posts: taggedPosts },
        };
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;

const title = `Blog posts on the topic of ${unslugify(tag)} | LoneVoice.in`;
const description = `All Blog posts on the topic of ${tag} | LoneVoice.in`;
---

<BaseLayout {title} {description}>
    <main class="wrapper py frame-grid">
        <div>
            <h1>
                Posts on the topic of <span>{`" ${unslugify(tag)} "`}</span>
            </h1>

            <div class="card-grid">
                {posts.map((post) => <Card {post} />)}
            </div>
        </div>

        <aside class="sidebar">
            <TagCloud />
        </aside>
    </main>
</BaseLayout>

<style>
    h1 {
        font-size: var(--fs-8);
        font-weight: 400;
        margin-block-end: 1em;
    }

    span {
        margin-inline: 0.1em;
        color: var(--clr-brand);
        font-family: var(--ff-serif);
        text-shadow: 1px 1px var(--clr-dark);
    }
</style>
