---
import BaseLayout from "./BaseLayout.astro";
import Hero from "../components/Hero.astro";
import BlogPostTags from "../components/BlogPostTags.astro";

import "../styles/typography.css";

const { title, description, pubDate, tags, coverImage, coverAlt } = Astro.props;
---

<BaseLayout {title} {description}>
    <main data-pagefind-body>
        <Hero {title} {pubDate} {coverImage} {coverAlt} />

        <article class="wrapper py typography">
            <slot />
            <hr />
            <BlogPostTags {tags} />
        </article>
    </main>
</BaseLayout>
