---
import BaseLayout from "./BaseLayout.astro";
import Hero from "../components/Hero.astro";
import BlogPostTags from "../components/BlogPostTags.astro";
import SearchField from "src/components/SearchField.astro";
import TagCloud from "src/components/TagCloud.astro";

import "../styles/typography.css";

const { title, description, pubDate, tags, coverImage, coverAlt } = Astro.props;
---

<BaseLayout {title} {description}>
    <main data-pagefind-body>
        <Hero {title} {pubDate} {coverImage} {coverAlt} />

        {
            /*<article class="wrapper py typography">
            <slot />
            <hr />
            <BlogPostTags {tags} />
        </article> */
        }

        <div class="wrapper py frame-grid">
            <article class="typography">
                <slot />
            </article>

            <aside class="sidebar">
                <SearchField />
                <BlogPostTags {tags} />
            </aside>
        </div>
    </main>
</BaseLayout>
