---
import BaseLayout from "./BaseLayout.astro";
// import Hero from "../components/Hero.astro";
import Hero2 from "src/components/Hero2.astro";
import BlogPostTags from "../components/BlogPostTags.astro";

import "../styles/typography.css";

const { title, description, pubDate, tags, coverImage, coverAlt } = Astro.props;
// Need to add the site suffix for SEO
const titleSEO = `${title} | LoneVoice.in`;
const descSEO = `${description} | LoneVoice.in`;
---

<BaseLayout title={titleSEO} description={descSEO}>
    <main data-pagefind-body>
        <Hero2 {title} {pubDate} {coverImage} {coverAlt} />

        <article class="wrapper py">
            <div class="typography mx-auto">
                <slot />
                <hr />
                <BlogPostTags {tags} />
            </div>
        </article>
    </main>
</BaseLayout>
