---
import BaseLayout from "./BaseLayout.astro";
import Hero from "../components/Hero.astro";
import BlogPostTags from "../components/BlogPostTags.astro";

import "../styles/typography.css";

const { description, pubDate, tags, coverImage, coverAlt } = Astro.props;
// Need to change title as blog post title and html page title
// should be made different
let { title } = Astro.props;
---

<BaseLayout {title} {description}>
    <main data-pagefind-body>
        <Hero {title} {pubDate} {coverImage} {coverAlt} />

        <article class="wrapper py">
            <div class="typography mx-auto">
                <slot />
                <hr />
                <BlogPostTags {tags} />
            </div>
        </article>
    </main>
</BaseLayout>
